.DS_Store
.vscode/

target/
**/*.wasm
!packages/server/tests/fixtures/**/*.wasm

node_modules/
dist/
build/
coverage/
.react-router/

tmp/

.env
.env.local
.env.*.local

/plugins/*
!/plugins/.gitkeep
