.DS_Store
.vscode/

target/
**/*.wasm
!packages/server/tests/fixtures/**/*.wasm

node_modules/
dist/
build/
coverage/
.react-router/

tmp/

/config/config.toml
.env
.env.local
.env.*.local

config/config.toml

/data
/vendor
