[package]
name = "server"
version = "0.1.0"
edition = "2024"

[dependencies]
anyhow.workspace = true
axum.workspace = true
extism.workspace = true
plugin-core = { version = "0.1.0", path = "../plugin-core" }
sea-orm = { workspace = true, features = [
  "runtime-tokio-rustls",
  "sqlx-postgres",
  "macros",
  "schema-sync",
  "entity-registry",
] }
serde.workspace = true
serde_json.workspace = true
thiserror.workspace = true
tokio.workspace = true
tracing.workspace = true
tracing-subscriber.workspace = true
