services:
  db:
    extends:
      file: docker-compose.infra.yaml.template
      service: db

  redis:
    extends:
      file: docker-compose.infra.yaml.template
      service: redis

  server:
    extends:
      file: docker-compose.server.yaml.template
      service: server
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_healthy
    environment:
      BROCCOLI__DATABASE__URL: postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}
      BROCCOLI__MQ__URL: redis://:${REDIS_PASSWORD}@redis:6379

  worker:
    extends:
      file: docker-compose.worker.yaml.template
      service: worker
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_healthy
    environment:
      BROCCOLI__DATABASE__URL: postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}
      BROCCOLI__MQ__URL: redis://:${REDIS_PASSWORD}@redis:6379

volumes:
  postgres_data:
  redis_data:
  server_data:
  worker_data:
  worker_box_slots:
